# Configuration file for polyekkreme

#####################################
#       General Configuration       #
#####################################

# the resolution of the pendulums in your terminal
# set it to false if char like 𜴮 don’t show 
# If this character like 🬅 doesn't appear either, you'll need to install a font that can display it, such as: 
# - Catrinity : https://catrinity-font.de/characters.html
# - Cozette : https://github.com/the-moonwitch/Cozette
# - Google Noto : https://fonts.google.com/noto
resolution = true

# the maximum integration time for the simulation
# set it to -1, to get endless and make run_et_plot didn’t plot anymore
tmax = -1

# the simulation integration step must be < 1
# more is litle, more the simulation is slower
# Around 0.001 the simulation is aproximativly stable, but a litle slow 
dt = 0.001

# the gravity of the simulation
gravity = 0

# the maximum numbers of pendulums that can be set 
# If you disable custom pendulums, this is the number of pendulums that will be displayed
nb_pendulums = 101

# This option determines whether or not to display information about the pendulums
pendulums_info = true

# Select the pendulums you want to display
# if it set to none, all pendulums will be display, within the limits of the screen’s capacity
# to select a range of pendulums, enter : i : f, where i are the id of the first pendulums and f the last
# to select multiple pendulums, enter there id separated by comma
# for non curstom pendulums, the max id is nb_pendulums - 1
# warning: you cannot select a range and multiple pendulums individually 
id_print = 25, 50, 75, 100

# If you want to set your custom pendulums, set this option to true
# to config your pendulums, go in the pendule.csv file
# and enter the id first, followed by the mass, the length, the initial angle and finally the initial angular velocity 
custom_pendulum = true

# If you set custom pendulums to false, you can set the initial angle for all the pendulums
# theta0 = 3.1415926535898 # PI
# theta0 = 1.5707963267949 # PI / 2
# theta0 = 0.78539816339745 # PI / 4
 theta0 = 2.3561944901923 # 3 PI / 4
# theta0 = 1.5707963267949 # PI / 2u